[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-htmx = "*"
django-filter = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-forms-dynamic = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.12"
