{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-3">
            <a class="btn btn-primary" href="{% url 'htmx_tests:order_summary_list' %}">Orders</a>
            <a class="btn btn-secondary" href="{% url 'htmx_tests:company_create' %}">Add new Company</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Companies</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Place</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comp in company %}
                    <tr>
                        <td>{{comp.name}}</td>
                        <td>{{comp.location}}</td>
                        <td>
                            <a href="{% url 'htmx_tests:company_edit' comp.pk %}">✏️</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="fw-bold">Count: {{count}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock content %}