{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <ul class="nav nab-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'htmx_tests:location_list' %}">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'htmx_tests:company_list' %}">Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'htmx_tests:orderer_list' %}">Orderer</a>
        </li>
        
    </ul>
</div>
    
{% endblock content %}