{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <p class="fst-italic">
        Order module: This section is used to create orders and then list them (main focus is the create order part). 
        Having a 3-chained dropdown, and have them be dependent on each other,
        so if one Company is choosen, then only the orderer from that company is 
        available in the dropdown.
    </p>
    <p><span class="fw-bold">ADDED: </span>django-history to the OrderSummary model</p>
    <ul class="nav nab-tabs">
        <li class="nav-item fw-bold">
            <a class="nav-link" href="{% url 'htmx_tests:new_order' %}">Create New Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'htmx_tests:location_list' %}">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'htmx_tests:company_list' %}">Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'htmx_tests:orderer_list' %}">Orderer</a>
        </li>
        
    </ul>


    <hr>
    <hr>
    <div class="mt-4">
        <h4>Order list/table</h4>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Order nr</th>
                    <th>Orderer Name</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Order for</th>
                    <th>Order invoice</th>
                    <th>History</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_summary %}
                    <tr>
                        <td>{{order.order_number}}</td>
                        <td>{{order.orderer}}</td>
                        <td>{{order.company}}</td>
                        <td>{{order.location}}</td>
                        <td>{{order.order_for}}</td>
                        <td>{{order.order_invoice}}</td>
                        <td>
                            <a href="{% url 'htmx_tests:order_summary_history' order.id %}">🕘</a>
                        </td>
                        <td>
                            <a href="{% url 'htmx_tests:order_summary_edit' order.pk%}">✏️</a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td class="fw-bold">Orders: {{count}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
    
{% endblock content %}