<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Car with no City</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="all-cars">
                
                {% for car in cars %}
                    {% if car.city is None %}
                        <tr>
                            <td>{{car.car.car_license_plate}}</td>
                            <td>
                                <a
                                style="cursor: pointer;"
                                hx-trigger="click"
                                hx-swap="innerhtml"
                                hx-delete="{{car.pk}}"
                                hx-confirm="Säkert?"
                                >
                                {% comment %} hx-target="#filter-cars" {% endcomment %}
                                {% comment %} hx-post="{% url 'htmx_tests:car_pool_add' car.pk city.pk %}" {% endcomment %}
                                    -->
                                    <input type="hidden" name="city" value="{{city.pk}}">
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Selected City - {{city.city}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="filter-cars">
                
                {% for car in car %}
                    <tr>
                        <td>{{car.car.car_license_plate}}</td>
                        <td>
                            <a
                            style="cursor: pointer;"
                            hx-post="{% url 'htmx_tests:car_pool_remove' car.pk %}"
                            hx-target="#all-cars"
                            hx-trigger="click"
                            hx-swap="beforeend"
                            hx-delete="this"
                            >
                            -
                            <input type="hidden" name="city" value="{{city.pk}}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
</div>