{% extends "base.html" %}


{% block content %}
    
<div class="container mt-3">
    <p class="fst-italic">
        Employee Pool: This uses a M2M relationship. 
        So one Employee can be active at many resturants at the same time, 
        but same principle as the Car Pool. 
        Left table shows people that are not active on that resturant, 
        and the right table displays employees active at the resturant that is clicked from the nav tabs.
    </p>

    <ul class="nav nav-tabs">
        
        {% for rest in resturant %}
            <li class="nav-item">
                <a class="nav-link"
                name="resturant"
                style="cursor: pointer;"
                hx-get="{% url 'htmx_tests:emp_pool_workers' rest.pk %}"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-target="#emp-pool"
                >
                    {{rest.name}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="row">
        <div id="emp-pool">

        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function() {
      const navLinks = document.querySelectorAll(".nav-link");
    
      navLinks.forEach(navLink => {
        navLink.addEventListener("click", function() {
          navLinks.forEach(otherLink => otherLink.classList.remove("active"));
          this.classList.add("active");
        });
      });
    });
    </script>
{% endblock content %}
    