{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}



{% block content %}
<div class="container">
    <p class="fst-italic">
        Social media model: This model displays users with their category, and the user can choose to follow or not follow the account. 
        Initial list is blank, but the user has the ability to choose what category, and filter from there.
        When a user decides to follow/unfollow, a confirm box appears, then using htmx it updates the page.
    </p>
    <p class="fst-italic fw-bold">
        TODO: When "All Categories" is filtered at the moment and a user click follow/unfollow, 
        the htmx page filters on the category and only displays the users within that category. 
        So need to fix if a user follow/unfollow with "All categories" filtered :)
    </p>
    <div class="form-row d-flex">
        <form method="get">
            {{form|crispy}}
            <input type="submit" value="Search" class="btn btn-success">
        </form>
    </div>
    <div class="row">
        <div id="social-list">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Following</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for social in social %}
                <tr>
                    {% if social.is_following %}
                    <td>{{social.name}}</td>
                    <td>
                        <a
                        hx-get="{% url 'htmx_tests:social_media_unfollow' social.pk %}"
                        hx-trigger="click"
                        style="cursor: pointer;"
                        hx-confirm="You sure you want to unfollow {{social.name}}?"
                        hx-target="#social-list">
                            ✅
                        </a>
                    </td>   
                    <td>
                        {{social.category.name}}
                    </td>
                    {% else %}
                    <td class="text-danger">{{social.name}}</td>
                    <td >
                        <a
                        hx-get="{% url 'htmx_tests:social_media_follow' social.pk %}"
                        hx-trigger="click"
                        style="cursor: pointer;"
                        hx-confirm="You sure you want to follow {{social.name}}?"
                        hx-target="#social-list">
                            ⛔️
                        </a>
                        </td>    
                    <td class="text-danger">
                        {{social.category.name}}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr class="fw-bold">
                    <td></td>
                    <td>
                        Following count: {{following_count}}
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
</div>
{% endblock content %}
    